body {
    margin: 0;
    padding: 10px 50px;
    background-color: black;
}

h1 {

    text-transform: uppercase;
    font-family: "DM Sans", sans-serif;
    text-align: left;
    font-size: 60px;
    font-weight: 1000;
    color: #ef00d7;
    
}



   